<div>
    <nav>
        <div class="nav-wrapper red lighten-1">
            <a href="#" class="brand-logo center">
                Films
            </a>
        </div>
    </nav>
    <br>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
              <input #input (keyup.enter)="selectFilm(input.value)" type="text" placeholder="Rechercher un film">
              <label class="active">Rechercher un film</label>
              <p>Vous avez sélectionné le film : {{ filmSelected?.primaryTitle }}</p>
          </div>
        </div>
      </form> 
    </div>
    <router-outlet></router-outlet> 
